.pageActions {
  display: inline-flex;
  align-items: center;
  position: relative;
  margin-bottom: calc(var(--ifm-h1-vertical-rhythm-bottom) * var(--ifm-leading));
}

.btn {
  font: inherit;
  border: 1px solid var(--ifm-toc-border-color);
  cursor: pointer;
  white-space: nowrap;
  background: var(--ifm-button-background-color);
  color: var(--ifm-button-text-color);
  border-radius: 4px 0 0 4px;
  padding: .4rem .75rem .5rem;
  font-size: 15px;
  line-height: 1.25rem;
}

.btn:hover {
  background-color: var(--ifm-button-background-color-hover);
}

.btn:active {
  transform: scale(0.98);
}

.toggle {
  padding: 0.5rem;
  border-left: 0;
  border-radius: 0 4px 4px 0;
}

.buttonIcon {
  fill: currentColor;
  opacity: inherit;
  width: 16px;
  height: 16px;
  position: relative;
  top: 3px;
  left: 0;
}

.arrowIcon {
  fill: currentColor;
  width: 12px;
  height: 12px;
  flex-shrink: 0;
}

.label {
  margin-left: 8px;
}

/* Menu styles */
.menu {
  border: 1px solid var(--ifm-toc-border-color);
  background: var(--ifm-button-background-color);
  border-radius: 6px;
  min-width: 13rem;
  margin-top: 4px;
  padding: .25rem;
  position: absolute;
  top: 100%;
  right: 0;
  box-shadow: 0 6px 24px #00000014;
}

.menuItem {
  text-align: left;
  cursor: pointer;
  background: 0 0;
  border: 0;
  border-radius: 4px;
  width: 100%;
  padding: .5rem .75rem;
  font-family: inherit;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  color: var(--ifm-font-color-base);
  transition: background-color 0.2s ease;
}

.menuItem:hover {
  background-color: var(--ifm-button-background-color-hover);
}

.menuIcon {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  fill: currentColor;
}

.menuIconStroke {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  fill: none;
}
