@import "../node_modules/@onlyoffice/ui-kit/lib/main.css";
@import "../node_modules/@onlyoffice/documentation-ui-kit/lib/kit.font.css";
@import "../node_modules/@onlyoffice/site-kit/lib/main.css";

@import "../components/syntax-highlight/syntax-highlight.css";
@import "../components/tree/tree.css";

/* todo: temp */

:root {
  --typography-monospace-font: monospace;
  --typography-sans-serif-font: "Open Sans";
  --typography-line-height: 1.5;
}

html {
  background-color: var(--color-page-header-background);
  color: var(--color-foreground-default);
  font-family: var(--typography-sans-serif-font);
  font-size: 14px;
  line-height: var(--typography-line-height);
}

body {
  margin: 0;
  background-color: var(--color-background-default);
}

table {
  display: block;
  overflow: auto;
}

/* todo: move to ui */

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  /* todo: use var */
  scroll-margin-top: calc(72px + 20px);
}

.content h1 a[href^="#"],
.content h2 a[href^="#"],
.content h3 a[href^="#"],
.content h4 a[href^="#"],
.content h5 a[href^="#"],
.content h6 a[href^="#"] {
  color: inherit;
  text-decoration: none;
}

.content h1 a[href^="#"]:before,
.content h2 a[href^="#"]:before,
.content h3 a[href^="#"]:before,
.content h4 a[href^="#"]:before,
.content h5 a[href^="#"]:before,
.content h6 a[href^="#"]:before {
  /* todo: do not use opacity */
  /* todo: use own colors */
  /* todo: replace with svg icon */
  color: var(--page-foreground-color);
  content: "#";
  display: inline-block;
  font-size: 1em;
  margin-left: -1.05em;
  opacity: 0.3;
  text-decoration: none;
  visibility: hidden;
  width: 1.05em;
}

.content h1 a[href^="#"]:hover:before,
.content h2 a[href^="#"]:hover:before,
.content h3 a[href^="#"]:hover:before,
.content h4 a[href^="#"]:hover:before,
.content h5 a[href^="#"]:hover:before,
.content h6 a[href^="#"]:hover:before {
  visibility: visible;
}

/* todo: temp solution */
document-builder {
  display: block;
  height: 550px;
}

.home img[src^="/assets/docs-preview"] {
  height: 540px !important;
  width: auto !important;
}

.home img[src^="/assets/docspace-preview"] {
  height: 430px !important;
  width: auto !important;
}

.home img[src^="/assets/workspace-preview"] {
  height: 500px !important;
  width: auto !important;
}
