.features {
  display: flex;
  justify-content: center;
  padding: 1rem 2rem 2rem 2rem;
  width: 100%;
}

.featuresGridWrapper > * {
  display: grid;
  gap: var(--base-size-24, 1.5rem);
  grid-auto-rows: auto;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.docspaceGrid > * {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.docsGrid > * {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

@media (max-width: 1024px) {
  .docspaceGrid > *,
  .docsGrid > * {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 540px) {
  .featuresGridWrapper > * {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

.containerFeatures {
  max-width: var(--temp-home-breakpoint-xlarge);
  margin: 0 auto;
  padding: 0 1.5rem;
}

.containerInner {
  display: flex;
  flex-direction: column;
  gap: var(--base-size-48, 3rem);
}

.featureGroup {
  margin-top: 2rem;
}

.featureGroup h3 {
  font-size: 0.85rem;
  font-weight: 600;
  line-height: 1.4;
}

.featureGroup p {
  font-size: 0.75rem;
  line-height: 1.4;
}

.featuresGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 1.5rem;
}

@media (min-width: 768px) {
  .featureGroup h3 {
    font-size: 1.05rem;
  }

  .featureGroup p {
    font-size: 0.9rem;
  }
}