.blogGridList {
  gap: var(--base-size-32);
  grid-template-columns: 1fr;
  display: grid;
}

.blogGridList a:hover {
  text-decoration: none;
}

.blogGridItem {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--base-size-24);
  padding: 0 0 32px;
  background-color: var(--card-background-color);
  border-radius: 4px;
  border: 1px solid var(--card-border-color);
  transition: box-shadow 300ms;
}

.blogGridItem:hover {
  box-shadow: var(--temp-color-shadow-default-small);
}

.blogGridItem p {
  margin-block: 0;
}

.blogItemHeader {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 0 32px;
}

.blogItemHeader h3 {
  font-size: var(--text-title-font-size-small);
  font-weight: var(--text-title-font-weight-small);
  line-height: var(--text-title-line-height-small);
  margin-block: 0;
}

@media (min-width: 544px) {
  .blogItemHeader > h3 {
    font-size: var(--text-title-font-size-medium);
    font-weight: var(--text-title-font-weight-medium);
    line-height: var(--text-title-line-height-medium);
  }
}

@media (min-width: 768px) {
  .blogGridList {
    grid-template-columns: 1fr 1fr;
  }

  .blogItemHeader {
    gap: 24px;
  }
}