.blogGridList {
  gap: var(--base-size-32);
  display: grid;
}

.blogGridList a:hover {
  text-decoration: none;
}

.blogGridItem {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--base-size-24);
  padding: 0 0 var(--base-size-32);
  background-color: var(--card-background-color);
  border-radius: 4px;
  border: 1px solid var(--card-border-color);
  transition: box-shadow 300ms;
}

.blogGridItem:hover {
  box-shadow: var(--temp-color-shadow-default-small);
}

.blogGridItem p {
  margin-block: 0;
}

.blogItemHeader {
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 0 var(--base-size-32);
}

.blogItemHeader h3 {
  margin-block: 0;
}

@media screen and (max-width: 1023px) {
  .blogGridItem {
    padding-bottom: var(--base-size-24);
  }

  .blogItemHeader {
    padding: 0 var(--base-size-24);
  }
}

@media (max-width: 768px) {
  .blogGridList {
    gap: var(--base-size-24);
  }
}

@media screen and (max-width: 1023px) {
  .blogGridItem {
    gap: var(--base-size-16);
    padding-bottom: var(--base-size-16);
  }
}