.tree {
  color: var(--tree-foreground-color);
}

.tree__limb {
  list-style: none;
  margin: 0;
  padding-inline-start: 23px;
}

.tree__limb_bole {
  padding-inline-start: 0;
}

.tree__branch {
  margin-block-start: var(--base-size-12);

  &:first-of-type {
    margin-block-start: 0;
  }
}

.tree__branch_bole {
  margin-block-start: var(--base-size-32);
}

.tree__branch_bole > .tree__limb {
  padding-inline-start: 0;
}

.tree__twig {
  display: flex;
  pointer-events: none;
}

.tree__twig ~ .tree__limb {
  margin-block-start: var(--base-size-16);
}

.tree__twig_closed ~ .tree__limb {
  display: none;
}

.tree__twig_closed > .tree__fruit {
  margin-block-start: -1px;
}

.tree__twig_closed > .tree__fruit svg {
  transform: rotate(-90deg);
}

.tree__fruit {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: flex;
  margin-block-end: -4px;
  margin-block-start: 0;
  margin-inline-start: -5px;
  padding: 0;
  pointer-events: auto;
}

.tree__fruit * {
  pointer-events: none;
}

.tree__fruit svg {
  color: var(--color-foreground-muted);
}

.tree__leaf {
  color: inherit;
  font-size: var(--text-body-font-size-small);
  line-height: var(--text-body-line-height-small);
  overflow: hidden;
  padding-inline-start: 23px;
  pointer-events: auto;
  text-decoration: none;
  word-wrap: break-word;

  &:hover,
  &:focus {
    color: var(--color-foreground-link);
  }
}

.tree__leaf_current {
  color: var(--color-foreground-link);
}

.tree__leaf_bole {
  font-weight: 700;
  padding-inline-start: 0;
  text-transform: uppercase;
}

.tree__fruit ~ .tree__leaf {
  margin-inline-start: 4px;
  padding-inline-start: 0;
}
