# ValidationResult

Possible values:

- `0` - Ok (`Ok`)
- `1` - Invalid (`Invalid`)
- `2` - Expired (`Expired`)
- `3` - Tariff limit (`TariffLimit`)
- `4` - User existed (`UserExisted`)
- `5` - User excluded (`UserExcluded`)
- `6` - Quota failed (`QuotaFailed`)
