/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 7rem 0 2rem;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 1023px) {
  .heroBanner {
    padding: 6rem 0 1rem;
  }
}

@media screen and (max-width: 720px) {
  .title {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }

  .subtitle {
    font-size: 22px;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
