.list-buttons {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 16px;

  font: inherit;
  padding: 0;

  list-style: disc outside none;
  list-style-type: none;
}

.list-buttons > * {
  margin-top: 0 !important;
}

.list-buttons button {
  cursor: pointer;
  padding: 16px 20px;

  text-decoration: none !important;
  font: inherit;
  font-weight: 600;
  line-height: 1em;

  color: var(--working-with-review-changes-button-color);
  border: 1px solid var(--working-with-review-changes-button-border-color);;
  border-radius: 3px;
  background-color: transparent;
}

.list-buttons button.disabled {
  color: var(--working-with-review-changes-button-disabled-color);
  border-color: var(--working-with-review-changes-button-disabled-border-color);
  pointer-events: none;
}

:root {
  --working-with-review-changes-button-color: #444444;
  --working-with-review-changes-button-border-color: #aaaaaa;
  --working-with-review-changes-button-disabled-color: #cccccc;
  --working-with-review-changes-button-disabled-border-color: #cccccc;
}

html[data-theme="dark"] {
  --working-with-review-changes-button-color: #d4d4d4;
  --working-with-review-changes-button-border-color: #cecece;
  --working-with-review-changes-button-disabled-color: #6b6b6b;
  --working-with-review-changes-button-disabled-border-color: #747474;
}

@media (hover: hover) {
  .list-buttons button:hover {
    color: #ff6f3d;
    border: 1px solid #ff6f3d;
  }
}
