.container {
  flex-direction: column;
  padding-block:var(--base-size-48) calc(var(--base-size-48) + var(--base-size-64));
  display: flex;
  overflow: hidden;
}

.containerInner {
  max-inline-size: 1366px;
  padding-inline: var(--base-size-16);
  inline-size: 100%;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
}

.containerInner > main {
  background-color: inherit;
  margin-top: var(--base-size-64);
}

.headerSection {

}

.headerSection h1, .headerSection p {
  margin-block: 0;
  text-align: center;
}

.headerSection p {
  margin: var(--base-size-32) auto 0 auto;
  max-inline-size: 736px;
}

.helpSection {
  margin-top: var(--base-size-48);
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.helpSection ul {
  margin-block: 0;
  padding-inline-start: var(--base-size-24);
}

.helpSection li {
  padding: var(--base-size-2) 0 var(--base-size-2) var(--base-size-12);
}

.helpSection li::marker {
  color: var(--color-foreground-link);
}

.helpSectionHeader {
  display: flex;
  align-items: center;
  gap: 12px;
}

.helpSectionHeader h2 {
  margin-block: 0;
}

@media (min-width: 544px) {
  .containerInner {
    padding-inline: var(--base-size-24);
  }
}

@media (min-width: 768px) {
  .container {
    padding-block-start:var(--base-size-64);
    padding-block-end:calc(var(--base-size-64) + var(--base-size-64))
  }

  .containerInner {
    padding-inline: var(--base-size-32);
  }

  .helpSection {
    margin-top: var(--base-size-64);
    padding-inline: var(--base-size-40);
  }
}

@media (min-width: 1024px) {
  .container {
    padding-block-start:var(--base-size-112);
    padding-block-end:calc(var(--base-size-112) + var(--base-size-64))
  }
}