.featuresGridList {
  display: grid;
  gap: var(--base-size-32);
  grid-template-columns: 1fr;
}

.featuresGridList a {
  color: inherit;
  text-decoration: none;
}

.featuresGridItem {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--base-size-24);
  padding: var(--base-size-32);
  background-color: var(--card-background-color);
  border-radius: 4px;
  border: 1px solid var(--card-border-color);
  transition: box-shadow 300ms;
}

.featuresGridItem:hover {
  box-shadow: var(--temp-color-shadow-default-small);
}

.featuresGridItemHeader {
  display: flex;
  align-items: center;
  gap: 16px;
}

.featuresGridItemHeader svg {
  width: 32px;
  height: 32px;
}

.featuresGridItemHeader h3 {
  font-size: var(--text-title-font-size-small);
  font-weight: var(--text-title-font-weight-small);
  line-height: var(--text-title-line-height-small);
  margin-block: 0;
}

.featuresGridItem p {
  margin-block: 0;
}

@media (min-width: 544px) {
  .featuresGridList {
    grid-template-columns: repeat(2, 1fr);
  }
  .featuresGridItemHeader > h3 {
    font-size: var(--text-title-font-size-medium);
    font-weight: var(--text-title-font-weight-medium);
    line-height: var(--text-title-line-height-medium);
  }
}

@media (min-width: 768px) {
  .featuresGridList {
    grid-template-columns: repeat(4, 1fr);
  }

  .featuresGridItemHeader {
    gap: 24px;
  }

  .featuresGridItemHeader svg {
    width: 48px;
    height: 48px;
  }
}

@media (min-width: 1440px) {
  /*.part__chapter svg[height="64"][width="64"] {*/
  /*  display: block;*/
  /*}*/

  .featuresGridItemHeader svg {
    width: 64px;
    height: 64px;
  }
}