.editorContainer {
    width: 100%;
    height: 100%;
    background: var(--ifm-background-color);
    border: 1px solid var(--ifm-color-emphasis-300);
    border-radius: var(--ifm-global-radius);
    overflow: hidden;
}